# 1. Import Libaries

In [601]:
import pandas as pd
import numpy as np
import requests

# 2. Import data

In [602]:
# import london house price dataset
df = pd.read_csv('Claims.csv') # we make first column the index column

In [603]:
df

,policy_id,policy_tenure,age_of_car,age_of_policyholder,area_cluster,population_density,make,segment,model,fuel_type,...,is_brake_assist,is_power_door_locks,is_central_locking,is_power_steering,is_driver_seat_height_adjustable,is_day_night_rear_view_mirror,is_ecw,is_speed_alert,ncap_rating,is_claim
0,ID00001,0.515874,0.05,0.644231,C1,4990,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
1,ID00002,0.672619,0.02,0.375000,C2,27003,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
2,ID00003,0.841110,0.02,0.384615,C3,4076,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
3,ID00004,0.900277,0.11,0.432692,C4,21622,1,C1,M2,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0
4,ID00005,0.596403,0.11,0.634615,C5,34738,2,A,M3,Petrol,...,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,ID58588,0.355089,0.13,0.644231,C8,8794,2,A,M3,Petrol,...,No,Yes,Yes,Yes,No,Yes,Yes,Yes,2,0
58588,ID58589,1.199642,0.02,0.519231,C14,7788,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
58589,ID58590,1.162273,0.05,0.451923,C5,34738,1,A,M1,CNG,...,No,No,No,Yes,No,No,No,Yes,0,0
58590,ID58591,1.236307,0.14,0.557692,C8,8794,1,B2,M6,Petrol,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,2,0
58591,ID58592,0.124429,0.02,0.442308,C8,8794,3,C2,M4,Diesel,...,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,3,0

# 3. Data analysis of raw data

In [604]:
df.shape

(58592, 44)

We can see that there are 3480 rows and 11 columns in our data set

In [605]:
df.describe()

,policy_tenure,age_of_car,age_of_policyholder,population_density,make,airbags,displacement,cylinder,gear_box,turning_radius,length,width,height,gross_weight,ncap_rating,is_claim
count,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.000000,58592.00000,58592.000000,58592.000000,58592.000000
mean,0.611246,0.069424,0.469420,18826.858667,1.763722,3.137066,1162.355851,3.626963,5.245443,4.852893,3850.476891,1672.233667,1553.33537,1385.276813,1.759950,0.063968
std,0.414156,0.056721,0.122886,17660.174792,1.136988,1.832641,266.304786,0.483616,0.430353,0.228061,311.457119,112.089135,79.62227,212.423085,1.389576,0.244698
min,0.002735,0.000000,0.288462,290.000000,1.000000,1.000000,796.000000,3.000000,5.000000,4.500000,3445.000000,1475.000000,1475.00000,1051.000000,0.000000,0.000000
25%,0.210250,0.020000,0.365385,6112.000000,1.000000,2.000000,796.000000,3.000000,5.000000,4.600000,3445.000000,1515.000000,1475.00000,1185.000000,0.000000,0.000000
50%,0.573792,0.060000,0.451923,8794.000000,1.000000,2.000000,1197.000000,4.000000,5.000000,4.800000,3845.000000,1735.000000,1530.00000,1335.000000,2.000000,0.000000
75%,1.039104,0.110000,0.548077,27003.000000,3.000000,6.000000,1493.000000,4.000000,5.000000,5.000000,3995.000000,1755.000000,1635.00000,1510.000000,3.000000,0.000000
max,1.396641,1.000000,1.000000,73430.000000,5.000000,6.000000,1498.000000,4.000000,6.000000,5.200000,4300.000000,1811.000000,1825.00000,1720.000000,5.000000,1.000000

In [606]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58592 entries, 0 to 58591
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   policy_id                         58592 non-null  object
 1   policy_tenure                     58592 non-null  float64
 2   age_of_car                        58592 non-null  float64
 3   age_of_policyholder               58592 non-null  float64
 4   area_cluster                      58592 non-null  object
 5   population_density                58592 non-null  int64
 6   make                              58592 non-null  int64
 7   segment                           58592 non-null  object
 8   model                             58592 non-null  object
 9   fuel_type                         58592 non-null  object
 10  max_torque                        58592 non-null  object
 11  max_power                         58592 non-null  object
 12  engine_type                       58592 non-null  object
 13  airbags                           58592 non-null  int64
 14  is_esc                            58592 non-null  object
 15  is_adjustable_steering            58592 non-null  object
 16  is_tpms                           58592 non-null  object
 17  is_parking_sensors                58592 non-null  object
 18  is_parking_camera                 58592 non-null  object
 19  rear_brakes_type                  58592 non-null  object
 20  displacement                      58592 non-null  int64
 21  cylinder                          58592 non-null  int64
 22  transmission_type                 58592 non-null  object
 23  gear_box                          58592 non-null  int64
 24  steering_type                     58592 non-null  object
 25  turning_radius                    58592 non-null  float64
 26  length                            58592 non-null  int64
 27  width                             58592 non-null  int64
 28  height                            58592 non-null  int64
 29  gross_weight                      58592 non-null  int64
 30  is_front_fog_lights               58592 non-null  object
 31  is_rear_window_wiper              58592 non-null  object
 32  is_rear_window_washer             58592 non-null  object
 33  is_rear_window_defogger           58592 non-null  object
 34  is_brake_assist                   58592 non-null  object
 35  is_power_door_locks               58592 non-null  object
 36  is_central_locking                58592 non-null  object
 37  is_power_steering                 58592 non-null  object
 38  is_driver_seat_height_adjustable  58592 non-null  object
 39  is_day_night_rear_view_mirror     58592 non-null  object
 40  is_ecw                            58592 non-null  object
 41  is_speed_alert                    58592 non-null  object
 42  ncap_rating                       58592 non-null  int64
 43  is_claim                          58592 non-null  int64
dtypes: float64(4), int64(12), object(28)
memory usage: 19.7+ MB

In [607]:
df[['max_torque', 'max_power', 'engine_type', 'airbags',
       'is_esc', 'is_adjustable_steering', 'is_tpms', 'is_parking_sensors',
       'is_parking_camera', 'rear_brakes_type', 'displacement', 'cylinder',
       'transmission_type', 'gear_box', 'steering_type', 'turning_radius',
       'length', 'width', 'height', 'gross_weight', 'is_front_fog_lights',
       'is_rear_window_wiper', 'is_rear_window_washer',
       'is_rear_window_defogger']]

,max_torque,max_power,engine_type,airbags,is_esc,is_adjustable_steering,is_tpms,is_parking_sensors,is_parking_camera,rear_brakes_type,...,steering_type,turning_radius,length,width,height,gross_weight,is_front_fog_lights,is_rear_window_wiper,is_rear_window_washer,is_rear_window_defogger
0,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2,No,No,No,Yes,No,Drum,...,Power,4.6,3445,1515,1475,1185,No,No,No,No
1,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2,No,No,No,Yes,No,Drum,...,Power,4.6,3445,1515,1475,1185,No,No,No,No
2,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2,No,No,No,Yes,No,Drum,...,Power,4.6,3445,1515,1475,1185,No,No,No,No
3,113Nm@4400rpm,88.50bhp@6000rpm,1.2 L K12N Dualjet,2,Yes,Yes,No,Yes,Yes,Drum,...,Electric,4.8,3995,1735,1515,1335,Yes,No,No,Yes
4,91Nm@4250rpm,67.06bhp@5500rpm,1.0 SCe,2,No,No,No,No,Yes,Drum,...,Electric,5.0,3731,1579,1490,1155,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58587,91Nm@4250rpm,67.06bhp@5500rpm,1.0 SCe,2,No,No,No,No,Yes,Drum,...,Electric,5.0,3731,1579,1490,1155,No,No,No,No
58588,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2,No,No,No,Yes,No,Drum,...,Power,4.6,3445,1515,1475,1185,No,No,No,No
58589,60Nm@3500rpm,40.36bhp@6000rpm,F8D Petrol Engine,2,No,No,No,Yes,No,Drum,...,Power,4.6,3445,1515,1475,1185,No,No,No,No
58590,113Nm@4400rpm,88.50bhp@6000rpm,K Series Dual jet,2,No,Yes,No,Yes,No,Drum,...,Electric,4.8,3845,1735,1530,1335,Yes,No,No,No
58591,250Nm@2750rpm,113.45bhp@4000rpm,1.5 L U2 CRDi,6,Yes,Yes,Yes,Yes,Yes,Disc,...,Power,5.2,4300,1790,1635,1720,Yes,Yes,Yes,Yes

In [608]:
df[[ 'displacement', 'cylinder', 'transmission_type', 'gear_box']]

       displacement  cylinder transmission_type  gear_box
0               796         3            Manual         5
1               796         3            Manual         5
2               796         3            Manual         5
3              1197         4         Automatic         5
4               999         3         Automatic         5
...             ...       ...               ...       ...
58587           999         3         Automatic         5
58588           796         3            Manual         5
58589           796         3            Manual         5
58590          1197         4            Manual         5
58591          1493         4         Automatic         6

[58592 rows x 4 columns]

# 3. Data Wrangling

In [609]:
# delete unwanted columns
df = df.drop(['max_torque', 'max_power','engine_type','is_esc','is_adjustable_steering','is_tpms','rear_brakes_type','is_front_fog_lights','is_rear_window_wiper','is_rear_window_washer','is_rear_window_defogger','gear_box','displacement','policy_tenure','area_cluster','is_parking_sensors','is_power_door_locks','is_central_locking','is_power_steering','is_driver_seat_height_adjustable','is_day_night_rear_view_mirror','is_ecw','is_speed_alert','ncap_rating', 'airbags', 'cylinder','segment', 'fuel_type','make'], axis=1)

In [610]:
df.head()

,policy_id,age_of_car,age_of_policyholder,population_density,model,is_parking_camera,transmission_type,steering_type,turning_radius,length,width,height,gross_weight,is_brake_assist,is_claim
0,ID00001,0.05,0.644231,4990,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0
1,ID00002,0.02,0.375000,27003,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0
2,ID00003,0.02,0.384615,4076,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0
3,ID00004,0.11,0.432692,21622,M2,Yes,Automatic,Electric,4.8,3995,1735,1515,1335,Yes,0
4,ID00005,0.11,0.634615,34738,M3,Yes,Automatic,Electric,5.0,3731,1579,1490,1155,No,0

In [611]:
# Convert age columns to real age

- age_of_car 
- age_of_policyholder need to be converted to real age

In [612]:
# convert age_of_policyholder values from 0-1 to 0-70
df['age_of_policyholder'] = df['age_of_policyholder'] * 70

# round off the values to the nearest integer
df['age_of_policyholder'] = df['age_of_policyholder'].round(3)

# find the smallest and largest value in the column
smallest_age = df['age_of_policyholder'].min()
largest_age = df['age_of_policyholder'].max()

# print the results
print("Smallest age in the column is:", smallest_age)
print("Largest age in the column is:", largest_age)

Smallest age in the column is: 20.192
Largest age in the column is: 70.0

In [613]:
# convert age_of_car values 
df['age_of_car'] = df['age_of_car'] * 70

# round off the values to the nearest integer
df['age_of_car'] = df['age_of_car'].round(5)

# find the smallest and largest value in the column
smallest_age = df['age_of_car'].min()
largest_age = df['age_of_car'].max()

# print the results
print("Smallest age in the column is:", smallest_age)
print("Largest age in the column is:", largest_age)

Smallest age in the column is: 0.0
Largest age in the column is: 70.0

In [614]:
df.head()

,policy_id,age_of_car,age_of_policyholder,population_density,model,is_parking_camera,transmission_type,steering_type,turning_radius,length,width,height,gross_weight,is_brake_assist,is_claim
0,ID00001,3.5,45.096,4990,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0
1,ID00002,1.4,26.250,27003,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0
2,ID00003,1.4,26.923,4076,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0
3,ID00004,7.7,30.288,21622,M2,Yes,Automatic,Electric,4.8,3995,1735,1515,1335,Yes,0
4,ID00005,7.7,44.423,34738,M3,Yes,Automatic,Electric,5.0,3731,1579,1490,1155,No,0

In [615]:
# Convert model column to model_names

In [616]:
df['model'].unique()

array(['M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'M10', 'M11'],
      dtype=object)

In [617]:
# define the car models and makes
car_models = ['Ford Fiesta', 'Volkswagen Golf', 'Vauxhall Corsa', 'Ford Focus', 'Mercedes-Benz A-Class', 'Nissan Qashqai', 'Mini', 'Volkswagen Polo', 'Kia Sportage', 'Audi A3', 'BMW 3 Series']

# create a dictionary mapping car models to "M" values
model_values = {'M1': car_models[0], 'M2': car_models[1], 'M3': car_models[2], 'M4': car_models[3],
                'M5': car_models[4], 'M6': car_models[5], 'M7': car_models[6], 'M8': car_models[7],
                'M9': car_models[8], 'M10': car_models[9], 'M11': car_models[10]}

# print the updated dictionaries
print(model_values)

{'M1': 'Ford Fiesta', 'M2': 'Volkswagen Golf', 'M3': 'Vauxhall Corsa', 'M4': 'Ford Focus', 'M5': 'Mercedes-Benz A-Class', 'M6': 'Nissan Qashqai', 'M7': 'Mini', 'M8': 'Volkswagen Polo', 'M9': 'Kia Sportage', 'M10': 'Audi A3', 'M11': 'BMW 3 Series'}

In [618]:
# use the map function to replace values in the corresponding columns
df['model_values'] = df['model'].map(model_values)
df.head()

,policy_id,age_of_car,age_of_policyholder,population_density,model,is_parking_camera,transmission_type,steering_type,turning_radius,length,width,height,gross_weight,is_brake_assist,is_claim,model_values
0,ID00001,3.5,45.096,4990,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0,Ford Fiesta
1,ID00002,1.4,26.250,27003,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0,Ford Fiesta
2,ID00003,1.4,26.923,4076,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,0,Ford Fiesta
3,ID00004,7.7,30.288,21622,M2,Yes,Automatic,Electric,4.8,3995,1735,1515,1335,Yes,0,Volkswagen Golf
4,ID00005,7.7,44.423,34738,M3,Yes,Automatic,Electric,5.0,3731,1579,1490,1155,No,0,Vauxhall Corsa

In [619]:
# We only want th 3748 rows that are claims for our analysis

In [620]:
# drop all non-claim rows
df = df.drop(df[df['is_claim'] == 0].index)

In [621]:
# delete is_claim column

del df['is_claim']

In [622]:
df.head()

,policy_id,age_of_car,age_of_policyholder,population_density,model,is_parking_camera,transmission_type,steering_type,turning_radius,length,width,height,gross_weight,is_brake_assist,model_values
12,ID00013,2.1,33.654,4076,M6,No,Manual,Electric,4.8,3845,1735,1530,1335,Yes,Nissan Qashqai
19,ID00020,6.3,27.596,34738,M6,No,Manual,Electric,4.8,3845,1735,1530,1335,Yes,Nissan Qashqai
21,ID00022,0.0,43.077,21622,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,Ford Fiesta
23,ID00024,5.6,40.385,27003,M4,Yes,Automatic,Power,5.2,4300,1790,1635,1720,Yes,Ford Focus
24,ID00025,0.7,33.654,8794,M1,No,Manual,Power,4.6,3445,1515,1475,1185,No,Ford Fiesta

# 4. Data Analysis of new data

In [623]:
df.shape

(3748, 15)

In [624]:
df.describe()

,age_of_car,age_of_policyholder,population_density,turning_radius,length,width,height,gross_weight
count,3748.000000,3748.000000,3748.000000,3748.000000,3748.000000,3748.000000,3748.000000,3748.000000
mean,4.431777,33.597641,17623.820438,4.855269,3858.214514,1676.498666,1552.719050,1388.441302
std,3.714067,8.829802,16130.125259,0.226001,308.721465,110.765822,78.119627,210.556478
min,0.000000,20.192000,290.000000,4.500000,3445.000000,1475.000000,1475.000000,1051.000000
25%,1.400000,26.923000,6112.000000,4.600000,3655.000000,1515.000000,1490.000000,1185.000000
50%,3.500000,32.308000,8794.000000,4.800000,3845.000000,1735.000000,1530.000000,1335.000000
75%,7.000000,39.038000,27003.000000,5.000000,3995.000000,1755.000000,1635.000000,1510.000000
max,24.500000,66.635000,73430.000000,5.200000,4300.000000,1811.000000,1825.000000,1720.000000

In [625]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3748 entries, 12 to 58581
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   policy_id            3748 non-null   object
 1   age_of_car           3748 non-null   float64
 2   age_of_policyholder  3748 non-null   float64
 3   population_density   3748 non-null   int64
 4   model                3748 non-null   object
 5   is_parking_camera    3748 non-null   object
 6   transmission_type    3748 non-null   object
 7   steering_type        3748 non-null   object
 8   turning_radius       3748 non-null   float64
 9   length               3748 non-null   int64
 10  width                3748 non-null   int64
 11  height               3748 non-null   int64
 12  gross_weight         3748 non-null   int64
 13  is_brake_assist      3748 non-null   object
 14  model_values         3748 non-null   object
dtypes: float64(3), int64(5), object(7)
memory usage: 468.5+ KB

# 5. Save data to new file

In [627]:
df.to_excel('Claims3.xlsx',index=False)